<html>
<head>
    <script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="http://aishek.github.io/jquery-animateNumber/javascripts/jquery.animateNumber.js"></script>
    <style>
        th {
            text-align: left;
        }
        .panel {
            display: inline-block;
            margin-right: 20px;
        }

        .panel span{
            font-size: 30px;
        }

        .panel .number {
            font-size: 40px;
            font-weight: bold;
        }
    </style>
</head>
<body>
<div>
    <div>Total TRAFFIC</div>
    <div class="panel">
        <span>Upload</span>
        <span id="traffic-upload" class="number">0</span>
    </div>
    <div class="panel">
        <span>Download</span>
        <span id="traffic-download" class="number">0</span>
    </div>
</div>
<div>
    <div>Rate TRAFFIC</div>
    <div class="panel">
        <span>Upload</span>
        <span id="rate-upload" class="number">0</span>
    </div>
    <div class="panel">
        <span>Download</span>
        <span id="rate-download" class="number">0</span>
    </div>
</div>
<div style="width: 800px; display: inline-block;vertical-align: top;">
    <div id="pv"></div>
</div>
<div style="width: 300px; display: inline-block; vertical-align: top;">
    <div id="pvtime"></div>
</div>

<script>
    var socket = io('https://tracker.beritagar.id:3000');
    socket.on('beritagar_monitoring_mikrotik', function (data) {
        var parse = JSON.parse(data);
        $('#traffic-download').html(parse.TRAFFIC.IX.traffic.data.download);
        $('#traffic-upload').html(parse.TRAFFIC.IX.traffic.data.upload);
        $('#rate-download').html(parse.TRAFFIC.IX.rate.data.download);
        $('#rate-upload').html(parse.TRAFFIC.IX.rate.data.upload);
    });
</script>
</body>
</html>